transformers==4.29.2
torch==2.0.0
peft==0.3.0
uvicorn==0.21.1
fastapi==0.95.1
pydantic==1.10.7
sentencepiece==0.1.98
cpm_kernels
ujson~=5.10.0
tensorboard
datasets~=2.20.0
bitsandbytes
scipy
wandb


numpy~=1.26.4
deepspeed~=0.14.2
tqdm~=4.66.4
scikit-learn~=1.5.1